////////////////////////////////////////////////////////
// 便利クラス集
////////////////////////////////////////////////////////

//text-align
.u-taL {
  text-align: left !important;
}
.u-taC {
  text-align: center !important;
}
.u-taR {
  text-align: right !important;
}

//overflow
.u-overflowHidden {
  overflow: hidden;
}
